<% if user_signed_in? %>
  <% if user.followed_by?(current_user) %>
    <li><%= button_to "Unfollow", unfollow_path(id: user.id), method: :post, class: "btn btn-primary" %></li>
  <% else %>
    <li><%= button_to "Unfollow", unfollow_path(id: user.id), method: :post, class: "btn btn-primary", disabled: true %></li>
  <% end %>
<% end %>
