<%= bootstrap_form_for(@user) do |f| %>
<div class="user_edit_form">
  <div class="field">
    <%= f.text_area :bio%>
  </div>

  <div class="actions">
    <%= f.submit "Submit Changes to Bio" %>
  </div>
</div>

<% end %>
