<h1> List of Users </h1>

<% @users.each do |user| %>
<%= user.first_name %> <%= user.last_name %>
<%= button_to 'Follow', follow_path(:id => user.id), method: :post %>
<%= button_to 'Unfollow', unfollow_path(:id => user.id), method: :post %>
<% end %>
