<div class="col-xs-3 pull-right right-sidebar visible-lg">

          <!-- start single widget -->
          <div class="single_widget">
           <h2>Quick Navigation</h2>

           <ul>
             <% @races.each do |race| %>
             <li><%= link_to race.title, race_path(race) %></li>
             <% end %>
             <li><%= link_to "Legislators", legislators_path %></li>
             <li><%= link_to "Bills from 2015", bills_session_path("2015") %></li>
             <li><%= link_to "Bills from 2014", bills_session_path("2014") %></li>
           </ul>
          </div><!-- End single widget -->


      </div>
