<div class="col-xs-3 pull-right" id="right-sidebar">
          <!-- start single widget -->
          <div class="single_widget">
            <h2>Information</h2>
            <ul class="ppost_nav wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
              <li>
                <div class="media">
                  <a class="media-left" href="single_page.html">
                    <!-- <img src="img/70x70.jpg" alt="img"> -->
                  </a>
                  <div class="media-body">
                    <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>
                  </div>
                </div>
              </li>
               <li>
                <div class="media">
                  <a class="media-left" href="single_page.html">
                    <!-- <img src="img/70x70.jpg" alt="img"> -->
                  </a>
                  <div class="media-body">
                    <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- End single widget -->

          <!-- start single widget -->
          <div class="single_widget">
           <h2>Categories</h2>
           <ul>
             <li class="cat-item"><a href="#">Technology</a></li>
             <li class="cat-item"><a href="#">Games</a></li>
             <li class="cat-item"><a href="#">Business</a></li>
             <li class="cat-item"><a href="#">Gallery</a></li>
             <li class="cat-item"><a href="#">Slider</a></li>
             <li class="cat-item"><a href="#">Life &amp; Style</a></li>
             <li class="cat-item"><a href="#">Sports</a></li>
           </ul>
          </div><!-- End single widget -->
           <!-- start single widget -->
          <div class="single_widget">
           <h2>Category Archive</h2>
           <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>

          </div><!-- End single widget -->
           <!-- start single widget -->
          <div class="single_widget">
           <h2>Links</h2>
           <ul>
             <li><a href="#">Log in</a></li>
             <li><a href="#">Entries RSS</a></li>
             <li><a href="#">Comment RSS</a></li>
             <li><a href="#">Wordpress.org</a></li>
           </ul>
          </div><!-- End single widget -->
      </div>
