<div class="col-xs-3 pull-right" id="right-sidebar">

          <!-- start single widget -->
          <div class="single_widget">
           <h2>Quick Navigation</h2>
           <ul>
             <li class="cat-item"><a href="#">Legislators</a></li>
             <li class="cat-item"><a href="#">Current Elections</a></li>
             <li class="cat-item"><a href="#">Link to API</a></li>
             <li class="cat-item"><a href="#">Contact Form</a></li>
             <li class="cat-item"><a href="#">Profile</a></li>
           </ul>
          </div><!-- End single widget -->
           <!-- start single widget -->

           <!-- start single widget -->

      </div>
