<%= image_check %>
<div class="user-header">
<!-- possesive is a helper method in the user_helper.rb file -->
  <h1><%= possessive(@user.full_name)%>
    Votenunity</h1>

  <%= link_to 'Profile', user_path(:id => @user.id) %>

  <% current_user.all_follows.each do |follow| %>
  <%= link_to follow.followable.full_name, user_path(:id => follow.followable_id) %>
  <% end %>
</div>
