<div class="row" id="runners">
  <% @legislators.each do |legs| %>
  <div class="col-md-4">
    <div class="profile-wrapper">
      <div class="profile-inner" style="background: url(<%= legs.picture_from_url(legs.leg_pic_url) %>)
        no-repeat center; background-size:cover;">
      </div>
      <div class="description">
        <h3><%= legs.fullName %></h3>
        <h5>
          <strong><%= legs.party %></strong>
        </h5>
        <hr>
        <%= link_to "More Information +", legislator_path(legs), class: "btn btn-danger btn-block" %>
      </div>
    </div>
    <br>
  </div>
  <% end %>
</div>
