/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "races";
@import "bills";

html {
  background-color: lightgray !important;
}
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  margin: 5px;
  text-shadow: 20px lightgray;
}
.thumb {
    margin-bottom: 30px;
}
.navbar-inverse {
  background: #00688b;
  box-shadow: 0 10px 0 #c40000, 0 0 0;
}
.navbar-inverse a {
  color: white !important;
  font-size: 16px;
}
.navbar-form .form-control {
  width: 120px;
}
.search-bills {
  margin-top: 20px;
}
.outer-scroll {
  height: 500px;
}
.scrolling-bills {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-left: 0px;
}
.bill-title {
  margin-top: 8px;
}
.bill-row {
  background-color: white;
}
.bill-list {
  width: 277px;

}
.navbar > .container .navbar-brand {
  margin-left: -145%;
  padding-left: 80px;
}
.navbar-inverse .navbar-link {
  padding-top: 18px;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.fixed-runners {
  opacity: 0.8;
  border-radius: 10px;
}
.fixed-runners h2 {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav > li > a {
  padding-top: 19px;
}
.glyphicon.glyphicon-globe {
  font-size: 75px;
}
.dropdown-menu a {
  color: black !important;
}
.candidate_percentages {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid #00688b;
  font-size: 22px;
  background-color: white;
}
.candidate_percentages p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.img-center {
  margin: 5px;
  height: 325px;
  width: 305px;
  border-radius: 15px 15px 15px 15px !important;
}

.search_bar{
  margin-left: 38%;
}

.form-control_bills{
  display: inline-block;
  width: 250px;
  vertical-align: middle;
  margin-left: -45px;
}

#background {
  background-color: #f0f0f0;
  padding: 0 45px;
  border-radius: 10px 10px 10px 10px !important;
  padding-bottom: 35px;
  min-height: 800px;
}
#runner-info {
  margin-top: 20px;
  font-size: 18px;
  background-color: white;
}
#runner-info p {
  margin: 10px;
  font-weight: 300;
  line-height: 1em;
}
.bill-info {
  margin-top: 20px;
  font-size: 18px;
  background-color: white;
}
.bill-info p {
  margin: 20px;
  font-weight: 300;
  line-height: 1em;
}
#stance {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 10px solid #00688b;
  box-shadow: 10px 0 5px 0 rgba(0,0,0,0.75);
  display: flex;
  background-color: white;
}
#nav-top {
  margin-right: 0;
}
#top-carousel {
  border-radius: 10px 10px 0 0 !important;
  background-color: #00688b;
  color: white;
}
#left-sidebar {
  margin-top: 10px;
  margin-left: 1px;
}
#bacon {
  padding: 20px 40px 40px 70px;
}
.col-lg-3 {
  padding: 0;
}
.runners {
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  margin-bottom: 30px;
}
#checkboxes {
  padding-left: 18px;
  padding-right: 5px;
  border-top: 20px solid #c40000;
  border-left: 40px solid transparent;
  border-right: 45px solid transparent;
  height: 0;
}
#profileheader {
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  margin-bottom: 30px;
  padding-top: 30px;
}
#show-profile {
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: white;
}
.show-profile {
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: white;
  margin-top: 10px !important;
}
.col-sm-8 {
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: white;
  margin-top: 18px;
  margin-left: 24px;
}
.col-sm-8 + .col-sm-8:last-child {
  margin-bottom: 30px;
}
.carousel-inner p {
  border-radius: 10px;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0.75);
}
.carousel-inner h3 {
  text-shadow: 2px 2px 5px black;
}
#options {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.1em;
  border-top: 0;
  border-bottom: 4px solid #00688b;
  border-left: 4px solid #00688b;
  border-right: 4px solid #00688b;
}
#user_bios {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 6px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  font-size: 17px;
}
.user_bios2 {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 6px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  font-size: 17px;
  width: auto;
  height: 500px;
  padding-right: 0px;
}
#legs {
  text-shadow: 10px solid black;
}
#user_bio {
  min-height: 100px;
}
#runner-follow {
  border-radius: 10px;
}
#right-sidebar {
  position: relative;
  margin-top: 18px;
  margin-right: 19px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: white;
}
.col-xs-4 {
  border: 2px solid #00688b;
  font-size: 18px;
}
.col-xs-3 {
  border: 2px solid #00688b;
  font-size: 18px;
}
.col-lg-4 {
  border: 10px solid #00688b;
  font-size: 20px;
}
.col-md-4 {
  border: 2px solid #00688b;
  font-size: 18px;
  background-color: white;
}
.col-xs-12 {
  text-shadow: 10px 10px 10px lightgray;
}

//Profile Image
.profile-wrapper {
  overflow-x: hidden;
  position: relative;
}
.profile-wrapper .btn {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.profile-wrapper .profile-inner {
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  padding: 200px 0 10px;
  border: 1px solid #eaeaea;
}
.profile-wrapper .small-thumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto -50px;
  display: block;
  border: 15px solid #fff;
}
.profile-wrapper .description {
  padding: 30px 20px 20px;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.bio {
  padding-top: 25%;
  text-align: center;
}
.user_information {
  padding-top: 10%;
  text-align: left;
  padding-left: 20%;
}
.following_data {
  padding-bottom: 25px;
}
.user_name {
  text-align: center;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}
.carousel {
  margin-top: 20px;
  border-radius: 0 0 10px 10px !important;
  -moz-border-radius: 0 0 10px 10px !important;
  -webkit-border-radius: 0 0 10px 10px !important;
  border: 3px solid #00688b;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  background-color: white;
  margin-top: 10px;
  color: white;
  width: 95%;
  margin-left: 24px;
}

// Footer Area
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 30px 60px;
  margin-top: 18px;
  overflow: hidden;
  background: #00688b;
  box-shadow: inset 0 10px 0 #c40000, 0 0 0;
}

/* Footer left */
.footer-distributed .footer-left {
  float: left;
}
.footer-distributed .footer-links {
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer right */
.footer-distributed .footer-right {
  float: right;
}

/* The search form */
.footer-distributed form {
  position: relative;
}
.footer-distributed form input:focus {
  outline: none;
}

/* Changing the placeholder color */
.footer-distributed form input::-webkit-input-placeholder {
  color: #5c666b;
}
.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color: #5c666b;
}
.footer-distributed form input:-ms-input-placeholder {
  color: #5c666b;
}

/* The magnify glass icon */
.footer-distributed form i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;
  color: #d1d2d2;
  font-size: 18px;
}
.party_title h3 {

}
#row_styling {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px 10px 10px 10px !important;
  border: 6px solid #00688b;
  padding-bottom: 30px;
}
.party_info_list {
  background-color: white;
  border-radius: 10px 10px 10px 10px !important;
  border: 6px solid #00688b;
}
.party_select {
  margin-top: 35px;
}
.party_info_list {
  font-size: 20px;
}

// End of Footer Area

.cuadro_intro_hover{
    padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}
