/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "races";

html {
  background-color: lightgray !important;
}
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 5px;
}

.navbar-inverse {
  background: #50bfbf;
}

 .img-center {
    margin: 5px;
    height: 325px;
    width: 305px;
    border-radius: 15px 15px 15px 15px !important;

}

#stance {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 10px solid #50bfbf;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;
  display: flex;
}

#runners {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 3px solid #50bfbf;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
}

// #racepage {
//   border-radius: 10px 10px 10px 10px !important;
//   -moz-border-radius: 10px 10px 10px 10px !important;
//   -webkit-border-radius: 10px 10px 10px 10px !important;
//   border: 8px solid #50bfbf;
//   box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
// }

.col-xs-4 {
  border-radius: 8px 8px 0px 0px !important;
  border: 2px solid #50bfbf;
  font-size: 18px;
}

.col-lg-4 {
  border: 10px solid #50bfbf;
  font-size: 20px;
}

.col-xs-12 {
  text-shadow:10px 10px 10px lightgray;
}


//Profile Image
.profile-wrapper {
    overflow-x: hidden;
    position: relative;
}

.profile-wrapper .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.profile-wrapper .profile-inner {
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    padding: 200px 0 10px;
    border: 1px solid #EAEAEA;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}

.profile-wrapper .small-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto -50px;
    display: block;
    border: 15px solid #fff;
}

.profile-wrapper .description {
    padding: 30px 20px 20px;
    text-align: center;
    border: 1px solid #EAEAEA;
    background-color: #fff;
}
