<%= form_for(@cill) do |f| %>
  <% if @cill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cill.errors.count, "error") %> prohibited this cill from being saved:</h2>

      <ul>
      <% @cill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
